@import "tailwindcss";

@theme {
  --color-background: rgb(28, 32, 41);
  --color-foreground: rgb(39, 44, 57);
  --color-foreground-2: rgb(62, 69, 86);
  --color-foreground-2-hover: rgb(96, 105, 129);
  --color-foreground-3: rgb(81, 90, 112);
  --color-primary: var(--primary);
  --color-highlight: rgb(168, 140, 250);
  --color-delete: rgb(255, 74, 78);
  --color-bitcoin: rgb(255, 122, 48);
  --color-off-white: rgb(203, 213, 225);

  --background-image-gradient-1: var(--gradient-1);
  --background-image-gradient-2: var(--gradient-2);
  --background-image-gradient-3: var(--gradient-3);
  --background-image-gradient-4: var(--gradient-4);
  --background-image-gradient-5: var(--gradient-5);
  --background-image-gradient-6: var(--gradient-6);
  --background-image-gradient-7: var(--gradient-7);
  --background-image-gradient-8: var(--gradient-8);
  --background-image-gradient-9: var(--gradient-9);
  --background-image-gradient-10: var(--gradient-10);
  --background-image-gradient-11: var(--gradient-11);
}

:root {
  --highlight: rgb(168, 140, 250);
  --delete: rgb(255, 74, 78);
  --bitcoin: rgb(255, 122, 48);
  --success: var(--primary-5);
  --off-white: rgb(203, 213, 225);

  --primary: var(--primary-1);
  --primary-1: rgb(143, 105, 255);
  --primary-2: rgb(93, 109, 255);
  --primary-3: rgb(241, 88, 192);
  --primary-4: rgb(235, 169, 0);
  --primary-5: rgb(44, 186, 80);
  --primary-6: rgb(192, 58, 255);
  --primary-6: rgb(255, 43, 47);
  --primary-7: rgb(0, 193, 235);
  --primary-8: rgb(255, 110, 28);

  --gradient-1: linear-gradient(90deg, #16a085 0%, #f4d03f 100%);
  --gradient-2: linear-gradient(90deg, #e65c00 0%, #f9d423 100%);
  --gradient-3: linear-gradient(90deg, #3a1c71 0%, #d76d77 50%, #ffaf7b 100%);
  --gradient-4: linear-gradient(90deg, #8584b4 0%, #6969aa 50%, #62629b 100%);
  --gradient-5: linear-gradient(90deg, #00c6fb 0%, #005bea 100%);
  --gradient-6: linear-gradient(90deg, #d558c8 0%, #24d292 100%);
  --gradient-7: linear-gradient(90deg, #d31027 0%, #ea384d 100%);
  --gradient-8: linear-gradient(90deg, #ff512f 0%, #dd2476 100%);
  --gradient-9: linear-gradient(90deg, #6a3093 0%, #a044ff 100%);
  --gradient-10: linear-gradient(90deg, #00b09b 0%, #96c93d 100%);
  --gradient-11: linear-gradient(90deg, #f78ca0 0%, #f9748f 19%, #fd868c 60%);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #1b1b1b;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #444;
}

h1 {
  @apply text-3xl font-semibold;
}

h2 {
  @apply text-2xl font-semibold;
}

h3 {
  @apply text-xl font-semibold;
}

h4 {
  @apply text-lg font-semibold;
}

hr {
  @apply border-foreground-2;
}

a {
  font-weight: 500;
}

body {
  font-family: "Inter", sans-serif;
  color: #fff;
  --primary: var(--primary-1);
  @apply bg-background;
}

.stack {
  display: flex;
}

.stack > img {
  margin-right: -0.5rem;
}

.stack > img:last-of-type {
  margin-right: 0;
}

:focus-visible {
  outline: unset;
}

input,
textarea,
select {
  border-radius: 12px;
  padding: 12px 16px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
  min-width: 0;
  @apply bg-foreground-2;
}

input[type="checkbox"] {
  @apply w-6 h-6;
}

.react {
  animation: react 5s forwards;
  z-index: 19;
}

@keyframes react {
  0% {
    opacity: 0.1;
  }

  30% {
    opacity: 1;
    transform: translateY(-60px) scale(1.5);
  }

  90% {
    opacity: 1;
    transform: translateY(-60px) scale(1.5);
  }

  100% {
    opacity: 0;
  }
}

.h-inherit {
  height: inherit;
}

body {
  --chat-w: 100vw;
}

.w-chat {
  width: var(--chat-w);
}

@media screen and (min-width: 720px) {
  body {
    --chat-w: 450px;
  }
}

.overflow-wrap {
  overflow-wrap: anywhere;
}
