@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 28 32 41;
  --foreground: 39 44 57;
  --foreground-2: 62 69 86;
  --foreground-2-hover: 96 105 129;
  --highlight: 168 140 250;
  --delete: 255 74 78;
  --bitcoin: 255 122 48;
  --success: var(--primary-5);
  --off-white: 203 213 225;

  --primary-1: 143 105 255;
  --primary-2: 93 109 255;
  --primary-3: 241 88 192;
  --primary-4: 235 169 0;
  --primary-5: 44 186 80;
  --primary-6: 192 58 255;
  --primary-6: 255 43 47;
  --primary-7: 0 193 235;
  --primary-8: 255 110 28;

  --gradient-1: linear-gradient(90deg, #16a085 0%, #f4d03f 100%);
  --gradient-2: linear-gradient(90deg, #e65c00 0%, #f9d423 100%);
  --gradient-3: linear-gradient(90deg, #3a1c71 0%, #d76d77 50%, #ffaf7b 100%);
  --gradient-4: linear-gradient(90deg, #8584b4 0%, #6969aa 50%, #62629b 100%);
  --gradient-5: linear-gradient(90deg, #00c6fb 0%, #005bea 100%);
  --gradient-6: linear-gradient(90deg, #d558c8 0%, #24d292 100%);
  --gradient-7: linear-gradient(90deg, #d31027 0%, #ea384d 100%);
  --gradient-8: linear-gradient(90deg, #ff512f 0%, #dd2476 100%);
  --gradient-9: linear-gradient(90deg, #6a3093 0%, #a044ff 100%);
  --gradient-10: linear-gradient(90deg, #00b09b 0%, #96c93d 100%);
  --gradient-11: linear-gradient(90deg, #f78ca0 0%, #f9748f 19%, #fd868c 60%);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #1b1b1b;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #444;
}

h1 {
  @apply text-3xl font-semibold;
}
h2 {
  @apply text-2xl font-semibold;
}
h3 {
  @apply text-xl font-semibold;
}
h4 {
  @apply text-lg font-semibold;
}
hr {
  border-color: rgb(var(--foreground-2));
}
a {
  font-weight: 500;
}
body {
  font-family: "Inter", sans-serif;
  background-color: rgb(var(--background));
  color: #fff;
  --primary: var(--primary-1);
}

.stack {
  display: flex;
}
.stack > img {
  margin-right: -0.5rem;
}
.stack > img:last-of-type {
  margin-right: 0;
}

:focus-visible {
  outline: unset;
}

input,
textarea,
select {
  border-radius: 12px;
  background-color: rgb(var(--foreground));
  padding: 12px 16px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
  min-width: 0;
}

input[type="checkbox"] {
  @apply w-6 h-6;
}

.react {
  animation: react 5s forwards;
}
@keyframes react {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 1;
    transform: translateY(-72px) scale(1.5);
  }
  90% {
    opacity: 1;
    transform: translateY(-72px) scale(1.5);
  }
  100% {
    opacity: 0;
  }
}

.h-inherit {
  height: inherit;
}

body {
  --chat-w: 100vw;
}

.w-chat {
  width: var(--chat-w);
}

@media screen(lg) {
  body {
    --chat-w: 450px;
  }
}

.overflow-wrap {
  overflow-wrap: anywhere;
}
