.modal {
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000099;
  display: flex;
  justify-content: center;
  z-index: 42;
  overflow-y: auto;
}

.modal-body {
  background-color: var(--foreground);
  padding: 33px 36px;
  border-radius: 24px;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 100%;
  position: relative;
}

@media (min-width: 460px) {
  .modal-body {
    width: 460px;
  }
}
@media (max-width: 460px) {
  .modal-body {
    width: calc(100% - 4px);
    padding: 32px 24px;
  }
}

.modal-body input,
.modal-body textarea {
  background-color: var(--foreground-2);
}

.modal-body p {
  color: #cbd5e1;
}
